In [1]:
# Code tested on python 3.6.5
#library for opening URL's
import urllib.request
#library for numerical tables and time series
import json
# library Pandas provides
import pandas as pd
#for tabular representation of json
from pandas import DataFrame
#a nice utility function json_normalize for flattening JSON objects
from pandas.io.json import json_normalize

In [2]:
# variable for request of opening the URL
testfile = urllib.request.URLopener()
#variabe storing the URL
file_name = 'https://api.tdameritrade.com/v1/marketdata/RBGBBIS:FRED/pricehistory?apikey=CATOKINCAID&periodType=year&period=1&frequencyType=monthly&frequency=1&endDate=1553810400000&startDate=1546380000000&needExtendedHoursData=false'

In [3]:
#retreiving the XML data and storing in file in JSON format
testfile.retrieve(file_name, "file.json")
#opening the JSON file and retrieving its data
data = json.load(open('file.json'))
#converting json object to string
json.dumps(data)

'{"candles": [], "symbol": "RBGBBIS:FRED", "empty": true}'

In [4]:

#arrange data of JSON in tabular format and returns a dataframe
#read json_normalize function description it returns dataframe format of JSON
print("\n********************************")
print(json_normalize(data))
print("********************************\n")
#the following is a dataframe with 4 columns

********************************
  candles  empty        symbol
0      []   True  RBGBBIS:FRED
********************************

In [13]:
#converting JSON to dataframe 
df = DataFrame(data)
#check whether dataframe is empty or not
if df.empty == True:
    print('DataFrame is empty')
else:
    print('DataFrame is not empty')

DataFrame is empty

In [14]:
#print dataframe
print (df)

Empty DataFrame
Columns: [candles, symbol, empty]
Index: []

In [15]:
#printing the dataframe
df

Empty DataFrame
Columns: [candles, symbol, empty]
Index: []